services:
  app:
    image: music-backend-app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: music-backend
    ports:
      - 3030:3030
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/webhooks
    restart: unless-stopped


  db:
    image: postgres
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webhooks
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data


