name: CI/CD expense-manager

on:
  push:
    branches: [main]

jobs:
  bump:
    name: 'Bump Version on master!'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'checkout'
        uses: actions/checkout@v2

      - name: 'auto bump version'
        uses: 'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          skip-tag: 'true'
          minor-wording: 'change'
          major-wording: 'add,feat'
          patch-wording: 'patch,fixes,fix,chore,patch'
          rc-wording: 'RELEASE,alpha'

  build:
    needs: bump
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Pull latest changes
        run: git pull origin main

      - name: docker login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          echo $DOCKER_PASSWORD  | docker login -u $DOCKER_USER --password-stdin
      - name: build the docker image
        run: |
          PACKAGE_VERSION=$(node -p -e "require('./package.json').version")
          docker build . --file Dockerfile --tag ${{secrets.DOCKER_USER}}/music-backend-app:$PACKAGE_VERSION --tag ${{secrets.DOCKER_USER}}/music-backend-app:latest

      - name: docker Push
        run: docker push ${{secrets.DOCKER_USER}}/music-backend-app --all-tags

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAM }}
        password: ${{ secrets.SSH_PASSWORD }}
        script: |
          cd ~/env-aa
          sh npd-update.sh
